/*Header style*/

.headProperty {
    padding-top: 120px;
}

/*Card style*/
.card {
    width: 250px;
    height: 250px;
    padding-top: 50px;
    margin-left: 300px;
    margin-top: 150px;
}
h4 {
    padding-bottom: 20px;
}

/*Playboard style*/
main {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 5px;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 80px;
}
app-tboard {
    border: .5px solid lightgrey;
    height: 150px;
}

/*Button style*/

.new-game {
    cursor: pointer;
}
